.about-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  // background-color: lightblue;
  gap: 90px;

  //! ----------MOVE TO GLOBAL----------------
  width: 100%;
  max-width: 120rem; // 1920px
  min-height: calc(100vh - 5rem); // subtract header height
  padding-top: 0;
  padding-bottom: 0;
  padding-left: clamp(3rem, 5vw, 4.5rem);
  padding-right: clamp(3rem, 5vw, 4.5rem);
  //! ----------------------------------------

  .hero-side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    gap: 70px;

    .hero-container {
      position: relative;

      width: 566px;
      height: 752px;

      display: flex;
      align-items: flex-end;
      justify-content: center;

      .hero-container-background {
        position: absolute;

        bottom: 0;
        left: 0;

        width: 566px;
        height: 468px;

        background: var(--secondary-70);

        border-radius: 36px;

        z-index: 1;
      }

      img {
        position: absolute;

        bottom: 0;
        left: 0;

        width: 566px;
        height: 751px;

        object-fit: contain;

        z-index: 2;
      }
    }

    .statistics-container {
      display: flex;
      align-items: center;
      gap: 43px;

      .card {
        display: flex;
        flex-direction: column;

        .counter {
          font-weight: var(--font-weight-bold);
          font-size: 36px;
          color: var(--text);
        }

        .text {
          font-weight: var(--font-weight-regular);
          font-size: 20px;
          color: var(--text);
        }
      }
    }
  }

  .content-side {
    width: 702px;

    .title {
      font-weight: var(--font-weight-bold);
      color: var(--text);

      font-size: 60px;
      line-height: 1.1;

      padding-bottom: 20px;

      span {
        color: var(--secondary);
      }
    }

    .paragraph-text {
      font-weight: var(--font-weight-regular);
      color: var(--text);

      font-size: 24px;
      line-height: 1.45;

      &:not(:last-child) {
        padding-bottom: 20px;
      }
    }
  }
}
