.header-container {
  width: 100%;
  height: 5rem;
  padding: 1.3125rem 4.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .cusomization-site-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.0625rem;
  }
}
