.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background: var(--primary);
  color: var(--secondary);
  border-color: var(--secondary);
  border-style: solid;

  width: 3.1875rem;
  height: 1.4375rem;
  border-radius: 4.5625rem;
  border-width: 0.125rem;
  padding: 0 0.375rem;
}

.sun,
.moon {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  width: 0.8125rem;
  height: 0.8125rem;
}

.sun,
.moon {
  position: absolute;
  color: var(--secondary);
}
.sun {
  left: 0.375rem;
}

.moon {
  right: 0.375rem;
}

.circle {
  position: absolute;
  transition:
    transform 0.25s ease,
    background 0.25s ease;
  z-index: 2;
  background: var(--secondary);

  width: 0.875rem;
  height: 0.875rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.light {
  transform: translate(0px, -50%);
}

.dark {
  transform: translate(1.25rem, -50%);
}
