@use "./colors.scss" as colors;
@use "./typographe" as typographe;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: var(--primary);
  color: var(--text);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  color: var(--text);
  cursor: pointer;
}

textarea {
  resize: vertical;
}

div {
  color: var(--text);
}
